#header{
    display: flex;
    justify-content: space-between;
}
#footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 79vh;
}
#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  